@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

.DeposerAnnonce {
    width: fit-content;
    height: fit-content;
    margin: 40px 0px 0px 190px;
}

.annonceText1 {
    color : #06241B;
    font-family: 'Public Sans';
    font-style: normal;
}

.annonceText2 {
    color: #363A3D;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin: 50px 0px 0px 0px;
}

.TitreInput {
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

.Input1{
    color: #363A3D;
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}

.TitreInput2 {
    width: 1000px;
}

.LineSeparator {
        width: 1010px;
        height: 1px;
        background: #717273;
        margin-top: 40px;
        margin-bottom: 40px;
       
}

.SelectInput {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 0.5px solid #000000;
    padding: 10px 20px;
}

.LocalisationInput2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 160px
}

.TitreInput3 {
    width: 1000px;
    height: 200px;
    border-radius: 8px;
}

.LancerButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 200px;
}

.btnLancer{
    width: 150px;
    text-align: center;
    padding: 10px;
    background-color: #20B486;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Public Sans';
    font-style: normal;
}
