* {
    box-sizing: border-box;
}

body {
    margin : 0;
}

.NavBarPrin {
    background-color: #ffffff;
    border: 1px solid rgb(213, 210, 210);
    color: rgb(30, 28, 28);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.elements1 {
    margin: auto;
}
 
ul {
    text-decoration: none;
}

.NavBarPrin ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.CgProfile {
    display: block;
}

.recherche {
    vertical-align: middle;
}

.btn1{
    background-color: #20B486;
    width: max-content;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
}

.DepotAnnonce {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.annonce {
    vertical-align: middle;
   
}

.mesAnnonce {
    display: block;
}

.mesOffres {
    display: block;
}

.mesFavoris {
    display: block;
}

.rechercher {
    text-decoration: none;
    color: black;

}

.annonces {
    text-decoration: none;
    color: black;
}

.offres {
    text-decoration: none;
    color: black;

}

.favoris {
    text-decoration: none;
    color: black;
}

.connexion {
    text-decoration: none;
    color: black;
}